<app-header titulo="Indicadores"></app-header>

<mat-list *ngFor="let indicador of indicadores">
  <div class="container" [routerLink]="['detalle-indicador', indicador.nombre]" >
    <mat-list-item >
      <div class="list">
        <h4 mat-line>
          {{ indicador.nombre | titlecase }}
          
        </h4>
        <p>{{ indicador.unidad }} </p>
      </div>
      
    </mat-list-item>
    
    <button [routerLink]="['grafico-indicador', indicador.nombre, indicador.unidad]"><mat-icon class="icon" fontIcon="error_outline"></mat-icon></button>
    <mat-icon class="arrow" fontIcon="navigate_next"></mat-icon>
    

    
  </div>
  <mat-divider [inset]="false"></mat-divider>
</mat-list>
